<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="all"
    href="/assets/application-mailer-dbc5154d3c4160e8fa7ef52fa740fa402760c39b5d22c8f6d64ad5999499d263.css" />
  <style>
    <!-- Add custom styles that you want inlined here 
    -->
  </style>
</head>
<!-- Edit the code below this line -->

<body class="bg-light">

  <div class="container my-5">
    <div class="mb-4">
    	<img class="float-left" width="100" height="100" src="https://lh3.googleusercontent.com/5foJl2PYsFEXKtNP7l0VNCuLnOmqq3SvmOIbRIsIoIrh_89QC8XDJ8hQKVeZeBOQRsTz_JCAytR8thCauzIX2zFxFqVsHdaSY3dHjVoKZfHip9TmeTte5Or4lGL6oTm7wFxuNDOHPkietEP885-UfQlxjUtASHD-Z85eC9Fi_kxKT_siXo6fXRfOmOFAWhRuaaZpiVwDUxO0EcYztCj8EBhFaiNWdwIaycWvFUZzAe37csoywb2e94b5tYtHnhAwLsf42rPTc__onc7vyllJIlSGMLlNrO4saaJCmVbD1TsMRWyhjQPwzPZ_YwIJkGsinVvYSxV8R3JCPvMGKSCofULCotBGdAAXbY2wGJ86yPMqADIobHVsToa_rchW9qZCFzJJfO6iHF1Q0fVXm-GVHVjAah0NleVt4wlD6KoErCP0Tt40S9z06zUHVGgIDILcwvGC5J8HwEml6DMjdJMoM7TSmqRplLw4xWBLFdXkcEp0e_ht78Fzp1r7wEuhUsBKYDBIAcw9qVbIl1EUib-uVu9LKuMAq7vRTcl3Szv8qsUeDMGpjspevbKuYHaxaR-2Q4013F6sZdLzZqnoZJaHU9E47xkQLSVVh3Uur-YS68IGNaGyIdsFG4yybXU-0lo9_8BTAW0R7e-nvagHg-33H669RNAVL8yuEw2j5Stw-WLhDTU_0JfPgjo=w816-h178-no"
          alt="gloxon_logo">
      	
      <table class="float-right">
            <tbody>
              <tr>
                <td style="font-size: 13px">
                  <img class="float-left" height="20" width="32" style="border-radius: 50%; margin-right: 5px"
                    src="https://img.pngio.com/user-logo-png-user-computer-icons-clipart-download-800-800-user-logo-png-900_800.png" />
                  rashgomez123@gmail.com
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
    <div class="card mb-4" style="border: none">
      <div class="card-body" style="border: none">
        <img class="mx-auto mt-3 mb-5" width="110" height="110"
                        src="https://lh3.googleusercontent.com/QVMLxdbQ7r2p6bLySpXjUltvG3yFf57Lb3cCXVk3bSWEYSCRjRvycXbXnfz74FDxvY1JjEZAsy7WvsO6jwcaSsbT2owCUXhfubpfWd6I0yJcEShKXykUDmpv_V9J7oEeHnK1UwBjp4DDP5l2W7IbORhFxBLVcRNQ8z8KKCarJcrSAaJ2h9Cwwzqn_lqSbwprAvMDKXMawH0famyYD1Mn5n5KDrR6sEiKN8fDD3PRdzxZ4dDus2SY86cZWsH1ZJ75bCgJDLLLlA_Tw5oaJOLskqH6dW593NW_-xQfd1LTzIaolu8XSHL-ukrhIkDG0vZ7s3vOU6G-Vimh93stmaWT9nzoKIXrxzXdvqFDCnvBSaPc_NtCPZXLEav6Cgr9bh2Ar1XWJRS1X87714DAUR8rMgKs0K5FboywSX18P7zt9ngs_sVMvSPffD3ZIYMDeQrrEYBMjxWKIy1A7XKNNIoWQKQtb6IidfwXlz2eWjA8G05qVgP2TcW9suFE9bcKNiGf0JLiqOvjTmdW7degslXD76WWxAI5pNB1SzpL6vLAXXTj4ErQpmGf4-Uw0WsE_Z0HJ7JJ0utAqEhD5EVpGLJkBkmXu0Jjj_X_L2_1VDAe4fOBpbDOGy4ks0kyuYnOEErM6oKYe5OjN9ugL1dwiYWRxUAuon2zAH9WJ6kCIkmdPkrE06WqC-xfhaE=s900-no"
                        alt="security">
        
        <center class="mb-3">
          <p class="">Hey Rash, you are almost done with your registration. Use the code below to confirm your email on Gloxon.</p>
        </center>
        
        <hr />
        
        <p class="text-center" style="font-size: 25px; font-weight: bold">67870</p>

        <hr />

        <p class="text-left mt-2 mb-4" style="font-size: 14px">If you did not request for a Gloxon Account, simply ignore this mail and no changes will be applied.
        </p>

      </div>
    </div>
    
    <img class="mx-auto mt-1 mb-3" width="90" height="90"
                        src="https://lh3.googleusercontent.com/CJHzvUvPMy3a1bcjtVwTERU2Q0qmbJmYoAtsrhnVgjjV21aYKng5A_ggq519WvVZw25NpbqoitFkyVk7hy79Ju1hu-mk9MMuJkk8vN0c2oqAAl_DeP8e2v95NcG_N3LsBoG0lI5nCRLNgsiv_XALcT7gIa9MiLPncQJzZ_4g1L-nB96e8r4tIjBCd-dZsMl30TJ953uke2wNpvCi_pq_QeU2PLkXEZWmzSgQRiu9Ff1cUJdQ8XdcTzRG5IActub7jpD69Nlsio63RTVLZJXRwfZzRI5ZsRILr8ajj4oOUXceUWLNe_wlJ9kQEJTV2Feal1VDmJ4JjQhCpBa5lm2k5Wwybze_0fijmAq1mpKrRexppfkjxuWh4eL83273jxhNrpoo6DFMhgJh8IYkKceqvULJbMTP_wqkd_jfgnaEPLb3eHB7lrcPo9YlDiRdXZyQW32FetaxcN-EulKACciqAOu-LjrFhCFZSP1afXrK7y24gu0BLvM3xJ7bm3FccDWJQUIbymwqggKHO0s7nMATfB4-7e6W-fSjy29wqTYg_tHkqi4e_iRm8xsZzRdgVKAqQNKqHSzwx17BsTCo0HFH9MMoFbgQZDBKWw9t2oUUjk661Pz_eGgZcSIOWbUfa4MC2hKfD7Fkw5Ac6Rb_shXkGH2Qtjy9_CJcEyjdEYgpBRqEfrBZl8C8I40=w1000-h223-no"
                        alt="gloxon_logo">

    <div class="text-center text-muted" style="font-size: 12px; margin-top: -10px">You recieve this email due to your request for a Gloxon Account.
      Account.</div>
    <div class="text-center text-muted" style="font-size: 12px">&copy; 2020 Gloxon inc,
      Douala-Cameroon</div>

  </div>

</body>

</html>