<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" media="all"
    href="/assets/application-mailer-dbc5154d3c4160e8fa7ef52fa740fa402760c39b5d22c8f6d64ad5999499d263.css" />
  <style>
    <!-- Add custom styles that you want inlined here 
    -->
  </style>
</head>
<!-- Edit the code below this line -->

<body class="bg-light">

  <div class="container my-5">
    <div class="card mb-4" style="">
      <div class="card-body">
        <img class="mx-auto mt-3 mb-5" width="110" height="110"
          src="https://lh3.googleusercontent.com/5foJl2PYsFEXKtNP7l0VNCuLnOmqq3SvmOIbRIsIoIrh_89QC8XDJ8hQKVeZeBOQRsTz_JCAytR8thCauzIX2zFxFqVsHdaSY3dHjVoKZfHip9TmeTte5Or4lGL6oTm7wFxuNDOHPkietEP885-UfQlxjUtASHD-Z85eC9Fi_kxKT_siXo6fXRfOmOFAWhRuaaZpiVwDUxO0EcYztCj8EBhFaiNWdwIaycWvFUZzAe37csoywb2e94b5tYtHnhAwLsf42rPTc__onc7vyllJIlSGMLlNrO4saaJCmVbD1TsMRWyhjQPwzPZ_YwIJkGsinVvYSxV8R3JCPvMGKSCofULCotBGdAAXbY2wGJ86yPMqADIobHVsToa_rchW9qZCFzJJfO6iHF1Q0fVXm-GVHVjAah0NleVt4wlD6KoErCP0Tt40S9z06zUHVGgIDILcwvGC5J8HwEml6DMjdJMoM7TSmqRplLw4xWBLFdXkcEp0e_ht78Fzp1r7wEuhUsBKYDBIAcw9qVbIl1EUib-uVu9LKuMAq7vRTcl3Szv8qsUeDMGpjspevbKuYHaxaR-2Q4013F6sZdLzZqnoZJaHU9E47xkQLSVVh3Uur-YS68IGNaGyIdsFG4yybXU-0lo9_8BTAW0R7e-nvagHg-33H669RNAVL8yuEw2j5Stw-WLhDTU_0JfPgjo=w816-h178-no"
          alt="gloxon_logo">

        <center class="mb-3">
          <p class="text-center" style="font-size: 21px; font-weight: bold">Njangi Network was recently granted access
            to your Gloxon Account</p>
          <table class="mt-2">
            <tbody>
              <tr>
                <td style="font-size: 13px">
                  <img class="float-left" height="20" width="32" style="border-radius: 50%; margin-right: 5px"
                    src="https://img.pngio.com/user-logo-png-user-computer-icons-clipart-download-800-800-user-logo-png-900_800.png" />
                  rashgomez123@gmail.com
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </center>

        <hr />

        <p class="text-left mt-2 mb-3">If you did not grant access, you should check this activity and secure your
          account
        </p>

        <a class="btn btn-primary btn-lg mx-auto mt-2 mb-4" href="#">Check activity</a>

      </div>
    </div>

    <div class="text-center text-muted" style="font-size: 12px; margin-top: -10px">You recieve this email to let you
      know about important changes to your Gloxon
      Account and services.</div>
    <div class="text-center text-muted" style="font-size: 12px">&copy; 2020 Gloxon inc,
      Douala-Cameroon</div>

  </div>

</body>

</html>